/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    height: 12vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    display: grid;
    grid-template-areas: "logo nav cart";
    grid-template-columns: 10% 80% 10%;
}

header img {
    height: 10vh;
    margin-left: 1rem;
    transition: height 0.4s;
    cursor: pointer;
    
    grid-area: logo;
    align-self: center;
}

header img:hover {
    height: 11vh;
}

header nav {
    grid-area: nav;
    justify-self: center;
    align-self: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    margin: 0;
}

header nav ul li {
    margin: 0 30px 0 30px;
    font-size: 18px;
}

header nav ul li:hover {
    cursor: pointer;
    text-shadow: 1px 1px 10px rgb(204, 204, 204);
}

.active {
    text-shadow: 2px 2px 10px white;
}

#cartBtn {
    grid-area: cart;
    justify-self: flex-end;
    margin-right: 20px;
    align-self: center;
    
    background-color: #787878;
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 45px;
    padding-right: 1px;

    transition: background-color 0.1s;
}

#cartBtn:hover {
    background-color: #5c5c5c;
}

/* Main */
h1 {
    text-align: center;
    font-size: 6vw;
}

h2 {
    text-align: center;
    font-size: 1.75vw;
}

#contenedor-filtros {
    /* display: flex; */
    display: none;
    flex-direction: column;
    background-color: #9c9a9a;
    width: 50%;
    margin: 40px 0 0 25%;
    color:black;
    text-align: center;
    border: 3px solid black;
}

#contenedor-filtros h3 {
    margin-top: 10px;
}

#contenedor-filtros span {
    margin-bottom: 10px;
}

#contenedor-opciones {
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: space-around;
    font-size: 20px;
    padding-bottom: 10px;
}

#contenedor-opciones input {
    width: 40px;
}


#productos {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 3vw 0 3vw;
    justify-content: space-around;
}


/* Cards */
.card {
    margin-bottom: 5vh !important;
}

.card-body {
    display: grid;
    grid-template-areas: 
    "name price"
    "add  add";
    grid-template-columns: 50% 50%;
}

#product-name {
    font-size: 20px;
}

#product-price {
    font-size: 20px;
    text-align: end;
}

.cart-add-btn {
    grid-area: add;
    justify-self: center;
    align-self: flex-end;

    width: 50%;
    max-height: 38px;

    background-color: #8d949b;
    transition: background-color 0.15s;
}

.cart-add-btn:hover {
    background-color: #696e74;
}


/* Carrito */

.card-title {
    font-size: 22px;
}

.card-text {
    margin-left: 80px;
    font-size: 18px;
}

.subTotalSpan {
    margin-top: 15px;
    font-size: 18px;
}

.eraseBtn {
    width: 25px;
    height: 25px;
    
    align-self: flex-end;
    justify-self: flex-end;
    margin: 0 3px 0 3px;
    
    font-size: 14px;
    background-color: #e74c3c;
    
    border: none;
    border-radius: 3px;
}

.a {
    background-color: #d34f1b, #bd7728
}